{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить товар</a>
    </div>
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top"
                 src="{% mediapath object.photo %}"
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-title">{{ object.name }}</p>
                <p class="card-price">{{ object.price }} руб</p>
                <p class="card-text">{{ object.description|truncatechars:100 }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'catalog:product' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        <a href="{% url 'catalog:update_product' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Редактировать</a>
                        <a href="{% url 'catalog:delete_product' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
